body {
    font-family: 'Lato', sans-serif;
}

#nav-logo {
    width: 8rem;
    height: auto;
}

.navbar {
    background-color:#22223b;
    position: relative;
}

.white {
    color: white;
}

button[type='submit'], button[type='submit']:hover {
    background-color:#f3722c;
    color: white;
    width:100px;
}

button[type='submit']:hover {
    background-color:#f94144;
    color: white;
}

.nav-link, .nav-item {
    transition: 0.1s;
}

.nav-link:hover, .nav-item:hover {
    text-decoration: underline white;
    transform: translateY(-0.7px)
}

#car-add-img {
    position: relative;
    left:20px;
}

.btn-view-car {
    background-color:#f3722c;
    color: white;
    position: relative;
    top:10px;
}

.btn-view-car:hover {
    background-color:#f94144;
    color: white;
}

.btn-book-car {
    background-color:#f3722c;
    color: white;
}

.btn-book-car:hover {
    background-color:#f94144;
    color: white;
}

.user-nav {
    color: white;
}

.delete-rev-btn, .delete-rev-form {
    position: absolute;
    right:10px;
    bottom:10px;
}

#main-nav {
    position: sticky;
}